In [4]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import files 
uploaded = files.upload()

Saving Salaries.csv to Salaries (1).csv

In [6]:
sal = pd.read_csv('Salaries.csv')
sal.head(3)

   Id    EmployeeName  ...         Agency  Status
0   1  NATHANIEL FORD  ...  San Francisco     NaN
1   2    GARY JIMENEZ  ...  San Francisco     NaN
2   3  ALBERT PARDINI  ...  San Francisco     NaN

[3 rows x 13 columns]

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94170 entries, 0 to 94169
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                94170 non-null  int64
 1   EmployeeName      94170 non-null  object
 2   JobTitle          94170 non-null  object
 3   BasePay           94162 non-null  float64
 4   OvertimePay       94170 non-null  float64
 5   OtherPay          94170 non-null  float64
 6   Benefits          58011 non-null  float64
 7   TotalPay          94170 non-null  float64
 8   TotalPayBenefits  94170 non-null  float64
 9   Year              94170 non-null  int64
 10  Notes             0 non-null      float64
 11  Agency            94169 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(8), int64(2), object(3)
memory usage: 9.3+ MB

In [8]:
sal['JobTitle']

0        GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                       CAPTAIN III (POLICE DEPARTMENT)
2                       CAPTAIN III (POLICE DEPARTMENT)
3                  WIRE ROPE CABLE MAINTENANCE MECHANIC
4          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                              ...
94165                                   General Laborer
94166                                        Unit Clerk
94167                                          Gardener
94168                                 Court Interpreter
94169                     Library Technical Assistant 2
Name: JobTitle, Length: 94170, dtype: object

In [9]:
 sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

    Id     EmployeeName  ...         Agency  Status
24  25  JOSEPH DRISCOLL  ...  San Francisco     NaN

[1 rows x 13 columns]

In [10]:
 sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [11]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [12]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']

36156        PAULETTE ADAMS
36157         KAUKAB MOHSIN
36158    JOSEPHINE MCCREARY
Name: EmployeeName, dtype: object

In [13]:
sal.groupby('Year').mean()

           Id       BasePay  OvertimePay  ...  TotalPayBenefits  Notes  Status
Year                                      ...
2011  18080.0  63595.956517  4531.065429  ...      71744.103871    NaN     NaN
2012  54542.5  65436.406857  5023.417824  ...     100553.229232    NaN     NaN
2013  83548.0  99240.546303  8717.585045  ...     147787.135620    NaN     NaN

[3 rows x 9 columns]

In [14]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    99240.546303
Name: BasePay, dtype: float64

In [17]:
sal['JobTitle'].nunique()

2110

In [18]:
sal['JobTitle'].value_counts().head(5)

Transit Operator    3823
TRANSIT OPERATOR    2388
Registered Nurse    2382
Special Nurse       1619
Police Officer 3    1587
Name: JobTitle, dtype: int64

In [22]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [26]:
def title(x):
  if 'chief' in x.lower().split():
    return True
  else: 
    return False
sal['JobTitle'].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [28]:
title('Chief MANAGER-METROPOLITAN TRANSIT AUTHORITY')

True

In [30]:
sum(sal['JobTitle'].apply(lambda y:title(y)))

357