In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files 
uploaded = files.upload()

Saving Ecommerce Purchases.csv to Ecommerce Purchases.csv

In [5]:
ecom = pd.read_csv('Ecommerce Purchases.csv')
ecom.head(3)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95

[3 rows x 14 columns]

In [8]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [9]:
len(ecom.columns)

14

In [10]:
len(ecom.index)

10000

In [11]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [12]:
ecom.head(3)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95

[3 rows x 14 columns]

In [14]:
ecom['Purchase Price'].mean()

50.34730200000025

In [15]:
ecom['Purchase Price'].max()

99.99

In [16]:
ecom['Purchase Price'].min()

0.0

In [24]:
ecom[ecom['Language'] == 'en']['Language'].count()

1098

In [27]:
ecom[ecom['Job']=='Lawyer'].count()
# len(ecom[ecom['Job']=='Lawyer'].index)  Same thing

30

In [28]:
ecom['AM or PM'].unique()

array(['PM', 'AM'], dtype=object)

In [29]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [30]:
ecom['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
                                 ..
Music therapist                   7
Actuary                           6
Editor, film/video                6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [32]:
ecom[ecom['Lot'] =='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [33]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [37]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [38]:
len(ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].index)

39

In [43]:
sum(ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25'))

1033

In [46]:
ecom[ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25')]['Credit Card'].count()

1033

In [49]:
e1 = ecom['Email'].iloc[0]
e1.split('@')[1]

'yahoo.com'

In [51]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(4)

hotmail.com    1638
yahoo.com      1616
gmail.com      1605
smith.com        42
Name: Email, dtype: int64